.App {
 background-color: pink;
}

h1 {
  height: 200px;
  width: 200px;
}

.contact-header {
  padding-bottom: 7px;

}

.phone-logo {
  padding:5px 5px 0 3px;
}

.logo-header {
  width: 200px;

}

.tanuki-carpet {
  width: 100vw;
}